:root {
  --bg-main: #eef3ec;
  --bg-header: #053b15;
  --text-color: #1c1e20;
  --accent-color: #2c4733;
  --shadow-color: rgba(0, 0, 0, 0.08);
  --border-radius: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===== Header Styles =====*/
.header {
  width: 100%;
  height: 30vh;
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-header {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  padding: 15px 30px;
}
.title-header h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.title-header .logo {
  width: 50px;
  height: 50px;
}

.search-filter {
  width: 100%;
  margin: 20px auto;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

/* Search Bar Styles */
.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--bg-main);
  justify-content: space-between;
  gap: 40px;
  padding: 8px 16px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar i {
  color: #666;
  margin-right: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #333;
  background: transparent;
}

.search-bar input::placeholder {
  color: #999;
}

/* Filter Options Styles */
.filter-options select {
  padding: 8px 16px;
  border-radius: 25px;
  border: none;
  background-color: var(--bg-main);
  font-size: 16px;
  color: #333;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* --- Gallery Grid --- */
main {
  padding: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  list-style: none;
}

.gallery-item {
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
